* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html, body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default elements custom styling */

/* DEFAULT BUTTON */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  background: transparent;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}
button:hover {
  color: rgba(0,0,0,0.6);
  text-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
button:focus {
  outline: none;
}

/* DEFAULT IMAGE */
img {
  height: 100%;
  width: 100%;
}

/* Custom resuable Form */
form.auth-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: lightblue;
}
div.auth-form-wrapper {
  width: 100%;
  filter: drop-shadow(-1px 7px 5px rgba(50, 50, 0, 0.6));
}
/* Custom reusable error message div */
div.errorMsg {
  padding: 0.5rem;
  color: rgb(255, 0, 0, 0.9);
  font-weight: 500;
  height: 1.5rem;
}

/* Media specific queries */
@media (max-width: 640px) {
  div.auth-form-wrapper {
    width: 60vw;
  }
  div.errorMsg {
    padding: 1rem 0.5rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  div.auth-form-wrapper {
    width: 45vw;
  }
}
